<div class="dashboard-container">
      <table class="dashboard-table">
            <thead>
                  <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Student name</th>
                        <!-- <th>Student Div</th> -->
                        <th>Transfer to</th>
                        <th>Status</th>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let req of requestData">
                        <td>{{ req.transferId }}</td>
                        <td>{{ req.date | date}}</td>
                        <td>{{ req.studentName }}</td>
                        <!-- <td>{{ req.studentDiv }}</td> -->
                        <td>{{ req.transferSchool }}</td>
                        <td class="status">
                              <div class="chip" [ngClass]="req.status">
                                    <div class="chip-content">{{ req.status }}</div>
                              </div>
                        </td>
                  </tr>
            </tbody>
      </table>
</div>