<app-navbar />
<div class="dashboard-container">
      <div class="tab-container">
            <header class="dashboard-header">
                  <button class="add-button" (click)="openAddSchoolDialog()">+ Add
                        School</button>
            </header>
            <table class="dashboard-table">
                  <thead>
                        <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Address</th>
                              <th>Contact No</th>
                              <th>Email</th>
                              <!-- <th>Username</th> -->
                        </tr>
                  </thead>
                  <tbody>
                        <tr *ngFor="let school of schools">
                              <td>{{ school.id }}</td>
                              <td>{{ school.name }}</td>
                              <td>{{ school.address }}</td>
                              <td>{{ school.contactNo }}</td>
                              <td>{{ school.email }}</td>
                              <!-- <td>{{ school.username }}</td> -->
                        </tr>
                  </tbody>
            </table>
      </div>

</div>