<app-navbar />
<div class="container">
      <div class="dashboard-container">
            <header class="dashboard-header">
                  <h2 class="header">User List</h2>
                  <div class="button-container">
                        <button class="add-btn" (click)="openAddUserDialog()">+ Add User</button>
                  </div>
            </header>
            <table class="table-container">
                  <thead>
                        <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Contact no</th>
                              <th>Email</th>
                              <th>Edit</th>
                              <th>Remove</th>
                        </tr>
                  </thead>
                  <tbody>
                        @for( user of userList(); track user; let idx = $index) {
                        <tr>
                              <td>{{ idx+1 }}</td>
                              <td>{{ user.name }}</td>
                              <td>{{ user.contactNo }}</td>
                              <td>{{ user.email }}</td>
                              <td>
                                    <button mat-stroked-button class="edit-btn" (click)="openUpdateUserDialog(user)">
                                          <mat-icon>edit</mat-icon>
                                          Edit
                                    </button>
                              </td>
                              <td>
                                    <button mat-stroked-button class="delete-btn" (click)="deleteUser(user.id)">
                                          <mat-icon>delete</mat-icon>
                                          Delete
                                    </button>
                              </td>
                        </tr>
                        }
                  </tbody>
            </table>
      </div>
</div>