<app-navbar />
<div class="dashboard-container">
      <div class="tab-container">
            <header class="dashboard-header">
                  <div class="button-container">
                        <button class="add-button" (click)="openAddStudentDialog()">+ Add
                              Student</button>
                  </div>
            </header>
            <table class="dashboard-table">
                  <thead>
                        <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <!-- <th>Div</th> -->
                              <th>View</th>
                              <th>Transfer</th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr *ngFor="let student of studentList()">
                              <td>{{ student.studentId }}</td>
                              <td>{{ student.name }}</td>
                              <!-- <td>{{ student.div }}</td> -->
                              <td>
                                    <button mat-mini-fab (click)="openStudentDetailDialog(student)">
                                          <mat-icon>visibility</mat-icon>
                                    </button>
                              </td>
                              <td>
                                    @if(!student.transferStatus) {
                                    <button mat-mini-fab (click)="openAddRequestDialog(student)">
                                          <mat-icon>sync_alt</mat-icon>
                                    </button>
                                    } @else {
                                    <div class="chip Pending">
                                          <div class="chip-content">Pending</div>
                                    </div>
                                    }
                              </td>
                        </tr>
                  </tbody>
            </table>
      </div>

</div>