<div class="dashboard-container">
      <table class="dashboard-table">
            <thead>
                  <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Student name</th>
                        <th>School name</th>
                        <th>Action</th>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let req of demoIncomingRequest">
                        <td>{{ req.transferId }}</td>
                        <td>{{ req.date | date }}</td>
                        <td>{{ req.studentName }}</td>
                        <td>{{ req.fromSchool }}</td>
                        <td class="action">
                              @if (req.status === 'Pending') {
                              <button mat-mini-fab
                                    (click)="onAction(req.transferId, 'Approved')"><mat-icon>check</mat-icon></button>
                              <button mat-mini-fab
                                    (click)="onAction(req.transferId, 'Rejected')"><mat-icon>close</mat-icon></button>
                              } @else {
                              <div class="chip" [ngClass]="req.status">
                                    <div class="chip-content">{{ req.status }}</div>
                              </div>
                              }
                        </td>
                  </tr>
            </tbody>
      </table>
</div>